Data Types in Python

In [1]:
print("Hello World!")

Hello World!

1. Integers(int)

In [2]:
num1 = 42
num2 = -7
num3 = 0

print("Num1:", num1, type(num1))
print("Num2:", num2, type(num2))
print("Num3:", num3, type(num3))

Num1: 42 <class 'int'>
Num2: -7 <class 'int'>
Num3: 0 <class 'int'>

2. Floats (float)

In [3]:
pi = 3.14159
small_float = -0.00001
exp_float = 1.5**2

print("Pi:", pi, type(pi))
print("Small float:", small_float, type(small_float))
print("Exp float:", exp_float, type(exp_float))

Pi: 3.14159 <class 'float'>
Small float: -1e-05 <class 'float'>
Exp float: 2.25 <class 'float'>

3.Strings (str)

A string is a sequence of characters.In Python,strings are sorrounded by either single quotes('..') or double quotation marks("..").We use triple single quotes('''...''') or triple double quotation marks("""...""") for multi-line string.

In [4]:
greeting = "Hello Python people!"
quote = 'I can use a single quote too for string.'
multiline_string = """Strings in Python are surrounded by either single quotes or double quotation marks."""

print("Greeting:", greeting, type(greeting))
print("Quote:", quote, type(quote))
print("Multiline string:", multiline_string, type(multiline_string))

Greeting: Hello Python people! <class 'str'>
Quote: I can use a single quote too for string. <class 'str'>
Multiline string: Strings in Python are surrounded by either single quotes or double quotation marks. <class 'str'>

String Operations

In [7]:
# Concatenation
first_string = "Shaista"
second_string = "Adnan"
concatenated_string = first_name+' '+second_name
print(concatenated_string)

Shaista Adnan

In [6]:
# Using f for strings and variable
first_name = "Shaista"
last_name = "Adnan"
full_name = f"My name is {first_name} {last_name}"
print(full_name)

My name is Shaista Adnan

In [8]:
# Concatenation using format method
first_name = "Adnan"
last_name = "Qayyuom"
full_name = "{} {}".format(first_name,last_name)
print(full_name)

Adnan Qayyuom

In [9]:
# Repetition
funny_ha = "Ha" * 3
print(funny_ha)

HaHaHa

In [11]:
# Indexing and Slicing
first_char = greeting[0]
last_char = greeting[-1]

print("First char:", first_char)
print("Last char:", last_char)

sub_string =greeting[:6]
sub_string2 =greeting[3:9]

print("Sub string:", sub_string)
print("Sub string 2:", sub_string2)

First char: H
Last char: !
Sub string: Hello
Sub string 2: lo Pyt

Using f-string (formatted string) for readability

In [12]:
age = 25
message = f"My age is {age}."
print(message)

My age is 25.

In [13]:
my_name = "Hania"
gender = "female"
message = f"My name is {my_name} and i am a {gender}."
print(message)

My name is Hania and i am a female.

Strings Manipulation

In [15]:
# UpperCase 
kid_name = "Hassan"
print(kid_name.upper())

HASSAN

In [16]:
# LowerCase
print(kid_name.lower())

hassan

In [17]:
# Whitespaces
baby_name = "   Zebo  "
print(baby_name.strip())
print(baby_name.rstrip())
print(baby_name.lstrip())

Zebo
   Zebo
Zebo

In [19]:
# Title the first letter of each string
writer_name = "mr chips"
print(writer_name.title())

Mr Chips

In [20]:
# Capitalize the first letter of  string
project = "python programming"
print(project.capitalize())

Python programming

In [25]:
# Seperation using split()
x = "Hello World!"
print(x.split(","))

['Hello World!']

In [26]:
# Replacement using replace()
x = "Hello World!"
print(x.replace("Hello","Jello"))

Jello World!

4.Boolean (bool)

Booleans are True or False values.Typically used in condition checks, loops or logical evaluations.

In [28]:
is_python_easy = True
likes_coffee = False

print("Python easy:", is_python_easy, type(is_python_easy))
print("Likes coffee:", likes_coffee, type(likes_coffee))

Python easy: True <class 'bool'>
Likes coffee: False <class 'bool'>

In [29]:
# If Statement
if is_python_easy:
    print("Yes,Python is easy.")

Yes,Python is easy.

5.NoneType

None represent the absence of a value.It is often used as a placeholder for optional or missing data.

In [30]:
nothing_here = None
print("Nothing here:", nothing_here, type(nothing_here))

Nothing here: None <class 'NoneType'>

In [31]:
# If Statement
if nothing_here is None:
    print("Variable has no vale.")

Variable has no vale.

5.Collections(Data Structures)

While permitive data types (like int, float,string, bool) hold single values.Python's built-in collections let you group multiple items in flexible ways.The four built-in collections are:

1.List--An ordered,mutable sequence.

2.Tuple--An ordered,immutable sequence.

3.Dictionary--An unordered collection of key-value pairs.

4.Set--An unordered collection of unique elements.

5.1. List[]

1.A list is created using square brackets[] or the list() constructor.

2.It is ordered, meaning elements retain the order in which they'r inserted.

3.It is mutable,you can add, remove or update elements after creation.

In [32]:
empty_list = []
numbers = [1,2,3,4,5,6]
fruits = ["apple","banana","cherry","dates"]
mixed_list = [True,12,3.4,"apple"]

print("Empty list:", empty_list)
print("Numbers:", numbers)
print("Fruits:", fruits)
print("Mixed list:", mixed_list)

Empty list: []
Numbers: [1, 2, 3, 4, 5, 6]
Fruits: ['apple', 'banana', 'cherry', 'dates']
Mixed list: [True, 12, 3.4, 'apple']

In [33]:
# Accessing elements by their indexing
first_num = numbers[0]
last_num = [-1]

print("First number:", first_num)
print("Last number:", last_num)

First number: 1
Last number: [-1]

Adding, Removing and Modifying list

In [35]:
numbers = [10,20,30,40]
print(numbers)

# Adding
numbers.append(50)
print(numbers)

# Inserting
numbers.insert(2, 25)
print(numbers)

# Removing
numbers.pop()
print(numbers)

numbers.remove(25)
print(numbers)
print("Here is the updated list:", numbers)

[10, 20, 30, 40]
[10, 20, 30, 40, 50]
[10, 20, 25, 30, 40, 50]
[10, 20, 25, 30, 40]
[10, 20, 30, 40]
Here is the updated list: [10, 20, 30, 40]

5.2 Tuple

1. A tuple is created using parenthesis() or the tuple() constructor.

2. It is ordered, similar to list.

3. It is immutable.You cannot add, remove or change elements once defined.Creation and Basic Operation

In [36]:
empty_tuple = ()
single_item_tuple = (4,)
numbers = (1,2,3,4,5,6)
mixed_tuple = (1.0,56,False,"hello")

print("Empty tuple:", empty_tuple)
print("Single item tuple:", single_item_tuple)
print("Numbers:", numbers)
print("Mixed tuple:", mixed_tuple)

Empty tuple: ()
Single item tuple: (4,)
Numbers: (1, 2, 3, 4, 5, 6)
Mixed tuple: (1.0, 56, False, 'hello')

In [37]:
# Accessing elements by indexing
first_element = numbers[0]
print("First element:", first_element)

last_element = numbers[-1]
print("Last element:", last_element)

First element: 1
Last element: 6

In [38]:
# Slicing
sub_tuple = numbers[1:4]
print("Sub tuple:", sub_tuple)

Sub tuple: (2, 3, 4)

In [40]:
# Unpacking a tuple into separate variables
person_tuple = ("Adnan",35,"Supervisor")
name, age, job = person_tuple
print("Name:", name)
print("Age:", age)
print("Job:", job)

Name: Adnan
Age: 35
Job: Supervisor

5.3 Dictionary

1. A dictionary is created using curly braces{} with key-value pairs.

2. It is unordered.

3. keys must be unique and immutable (e.g., string,numbers,tuple) .Values can be anything.You can add,remove and change key-value pairs.It is mutable.

In [62]:
empty_dict = {}
person_dict = {"name":"Shaista","age":25}
another_dict = dict(city="Mirpur",country="Azad Kashmir")

print("Empty dict:", empty_dict)
print("Person dict:", person_dict)
print("Another dict:", another_dict)

Empty dict: {}
Person dict: {'name': 'Shaista', 'age': 25}
Another dict: {'city': 'Mirpur', 'country': 'Azad Kashmir'}

In [63]:
# Accessing values by key
print("Name:", person_dict["name"])
print("Age:", person_dict["age"])

Name: Shaista
Age: 25

Adding and Removing keys

In [64]:
# Adding a key-value pair in dict
another_dict["city"] = "New York"
print("Updated another dict:", another_dict)

Updated another dict: {'city': 'New York', 'country': 'Azad Kashmir'}

In [65]:
# Removing a key-value pair
removed_value = person_dict.pop("name")
print("Removed Name:", removed_value)

Removed Name: Shaista

In [67]:
# Checking if a key exists
if "name" in person_dict:
    print("Name key is present.")
    
    
    
    
    
print(person_dict)

{'age': 25}

In [68]:
person_dict = {"name":"Shaista","age":25,"job":"Housewife"}
print("Keys:", person_dict.keys())
print("Values:", person_dict.values())
print("Items:", person_dict.items())

Keys: dict_keys(['name', 'age', 'job'])
Values: dict_values(['Shaista', 25, 'Housewife'])
Items: dict_items([('name', 'Shaista'), ('age', 25), ('job', 'Housewife')])

5.4 Set

1. A set is created using curly braces{}.

2. It is unordered and does not allow duplicates.

3. It is mutable.You can add and remove elements.

Creation and Basic Operations

In [69]:
empty_set = {}
numbers_set = {1,3,5,7,9,11}
mixed_set = {1.3,True,"adi",45}

print("Empty set:", empty_set)
print("Numbers set:", numbers_set)
print("Mixed set:", mixed_set)

Empty set: {}
Numbers set: {1, 3, 5, 7, 9, 11}
Mixed set: {1.3, 'adi', 45, True}

Adding and Removing elements

In [71]:
numbers_set.add(13)
print(numbers_set)

numbers_set.discard(3)
print(numbers_set)

{1, 3, 5, 7, 9, 11, 13}
{1, 5, 7, 9, 11, 13}

Set Opeartions

Sets support mathematical set operations like union, intersection, difference, symmetric difference.

In [76]:
set_a = {1,2,3,4,5}
set_b = {4,5,6,7,8}

# Union :all elements from both sides
print("Union:", set_a.union(set_b))

# Intersection : common elements from both sides
print("Intersection:", set_a.intersection(set_b))

# Difference : elements in set_a but not in set_b
print("Difference:", set_a.difference(set_b))

# Symmetric difference : elements in either set_a or set_b but not both
print("Symmetric diffrence:", set_a.symmetric_difference(set_b))

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}
Symmetric diffrence: {1, 2, 3, 6, 7, 8}